:root {
  --heading-background-color: #0038a8;
  --heading-text-color-color: #ffffff;
  --padding: 1rem;
  --border: 1.5px solid #120a8f;
}
main {
  border-spacing: 1rem;
}


html {
  max-width: 1200px;
  margin: 0 auto;
  background: #f2f2f2;
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 600px 1fr 2fr;
  border: var(--border)
}

header img {
  width: 150px;
  height: auto;
  position: relative;
  left: 20%;
}


h1 {
  background-color:  var(--heading-background-color);
  color: var(--heading-text-color-color);
  font-family: 'Barlow', sans-serif;
  /* padding: var(--padding); */
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: center;
  position: absolute;
  font-size: 4rem;
  width: 100%;
  height: auto;
  top: 60px;
  opacity: .7;
}


h2 {
  background-color:  var(--heading-background-color);
  color: var(--heading-text-color-color);
  font-family: 'Barlow', sans-serif;
  padding: var(--padding);
  padding-bottom: 2rem;
  text-align: center;
}
.header2 {
  border: var(--border)
}

.header2 img {
  position: relative;
  left: 40%;
  padding-bottom: 10px;
}

.header2 p {
  text-align: center;
  font-size: large;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Montserrat', sans-serif;

}

.header3 {
  height: 20rem;
  border: var(--border)
}

footer {
  border: var(--border);
}

footer p {
  font-family: 'Parkinsans', sans-serif;
  width: 50%;
  padding: 10px;
  color: #000000;
  font-size: medium;
}

footer a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: small;
}

.social-icons{
  display: flex;
  justify-content: flex-end;
  position: relative;

}

.hero {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

/* .background {
  display: block;
  width: 1200px;
  height: auto;
} */


article img {
  float: right;
}

nav {
  width: 100%;
  height: auto;
  text-align: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
}

.motto {
  position: absolute;
  display: flex;
  top: 350px;
	right: 150px;
	/* background: radial-gradient(#eee, #f2f2f2); */
  background: #446ccf;
	border: 1px solid #120a8f;
	padding: 0.65rem;
	opacity: 0.8;
}

.motto img {
  width: 400px;
  height: auto;
}

.motto p {
  align-self: center;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  color: #ffffff;
  padding: 5%;
}

.h3-images {
  display: flex;
  flex-flow: row;
}

figure {
  border: thin #446ccf solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

img {
  width: auto;
  height: 150px;
}

figcaption {
  background-color: #446ccf;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.pic1 {
  height: 150px;
  width: auto;
}

.pic2 {
  height: 150px;
  width: auto;
}

.pic3 {
  height: 150px;
  width: auto;
}

.pic4 {
  height: 150px;
  width: auto;
}

.pic5 {
  height: 150px;
  width: auto;
}

.icon1 {
  width: 100px;
  height: auto;
  border: 2px solid #120a8f;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.icon2 {
  width: 100px;
  height: auto;
  border: 2px solid #120a8f;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.icon3 {
  width: 100px;
  height: auto;
  border: 2px solid #120a8f;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.icon4 {
  width: 100px;
  height: auto;
  border: 2px solid #120a8f;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

@font-face {
  font-family : 'Barlow';
  font-style : normal;
  font-weight : 400;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/barlow/v12/7cHpv4kjgoGqM7EPCw.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Barlow';
  font-style : normal;
  font-weight : 500;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3_-gc4A.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Barlow';
  font-style : normal;
  font-weight : 400;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/barlow/v12/7cHpv4kjgoGqM7EPCw.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Barlow';
  font-style : normal;
  font-weight : 600;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E30-8c4A.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : italic;
  font-weight : 100;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R8aX8.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : italic;
  font-weight : 200;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9aX8.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : italic;
  font-weight : 300;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9aX8.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : italic;
  font-weight : 400;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : italic;
  font-weight : 500;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9aX8.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : italic;
  font-weight : 600;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6aX8.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : italic;
  font-weight : 700;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6aX8.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : italic;
  font-weight : 800;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR6aX8.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : italic;
  font-weight : 900;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16aX8.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : normal;
  font-weight : 100;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Uw-.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : normal;
  font-weight : 200;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : normal;
  font-weight : 300;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : normal;
  font-weight : 400;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : normal;
  font-weight : 500;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : normal;
  font-weight : 600;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : normal;
  font-weight : 700;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : normal;
  font-weight : 800;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Montserrat';
  font-style : normal;
  font-weight : 900;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Parkinsans';
  font-style : normal;
  font-weight : 300;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/parkinsans/v1/-W_uXJXvQyPb1QfpBpRrVEgjj0W4zSUk4gSI6R8K.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Parkinsans';
  font-style : normal;
  font-weight : 400;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/parkinsans/v1/-W_uXJXvQyPb1QfpBpRrVEgjj0W4zSUk4gTW6R8K.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Parkinsans';
  font-style : normal;
  font-weight : 500;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/parkinsans/v1/-W_uXJXvQyPb1QfpBpRrVEgjj0W4zSUk4gTk6R8K.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Parkinsans';
  font-style : normal;
  font-weight : 600;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/parkinsans/v1/-W_uXJXvQyPb1QfpBpRrVEgjj0W4zSUk4gQI7h8K.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Parkinsans';
  font-style : normal;
  font-weight : 700;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/parkinsans/v1/-W_uXJXvQyPb1QfpBpRrVEgjj0W4zSUk4gQx7h8K.ttf) format('truetype');
  }
  @font-face {
  font-family : 'Parkinsans';
  font-style : normal;
  font-weight : 800;
  font-display : swap;
  src : url(https://fonts.gstatic.com/s/parkinsans/v1/-W_uXJXvQyPb1QfpBpRrVEgjj0W4zSUk4gRW7h8K.ttf) format('truetype');
  }
  
