:root {
  --heading-background-color: #f2f2f2;
  --heading-text-color-color: #585858;
  --heading-font: 'barlow', sans-serif;
  --padding: 1rem;
  --border: 1px solid rgb(0 0 0 / 0.1);
}


html {
  max-width: 1200px;
  margin: 0 auto;
  background: #eee; /* Fills the page */
}


h1 {
  background-color:  var(--heading-background-color);
  color: var(--heading-text-color-color);
  font-family: var(--heading-font);
  padding: var(--padding);
  text-align: center;
  position: absolute;
}


h2 {
  background-color:  var(--heading-background-color);
  color: var(--heading-text-color-color);
  font-family: var(--heading-font);
  padding: var(--padding);
  text-align: center;
}


footer {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

article img {
  float: right;
}
