h2 {
    color: blueviolet;
    text-align: center;
}

table {
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

/* .calendar {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 5;

} */