@media (min-width: 760px) {
    :root {
        --primary-color: #8170cc;
        --secondary-color: #9c8fe5;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        overflow-x: hidden;
    }

    html {
        background-color: #e6e6fa;
    }

    nav {
        padding: 10px;
    }


    nav a {
        color: white;
        display: block;
        padding: 20px;
        font-size: medium;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    h1 {
        color: #8170cc;
        border-bottom: 1px solid #9c8fe5;
        font-family: Georgia, Times, 'Times New Roman', serif;
        font-size: x-large;

    }

    h2 {
        color: #8170cc;
        font-family: Georgia, Times, 'Times New Roman', serif;
        font-size: large;
    }

    img {
        width: 150px;
        height: auto;
        border: 1px solid #9c8fe5;
        padding: 2px;
        /* box-shadow: 0 0 30px #fcd1f5; */
    }

    main img {
        width: 150px;
        height: auto;
        float: right;
    }


    aside {
        width: 20rem;
        text-align: center;
        position: relative;
    }

    aside img {
        width: 200px;
        height: auto;
    }



    p {
        padding: 1rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: small;
    }


    footer {
        margin-top: 1em;
        border-top: 1px solid #9c8fe5;
        text-align: center;
    }


    /* Class Selectors */

    .box {
        margin: 1rem;
        border: 1px solid rgba(0, 0, 0, .1);
        padding: 1rem;
        background-color: #cbc7f8;
        color: #000;
    }

    .box a {
        text-decoration: none;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    header,
    footer {
        max-width: 840px;
        margin: 0 auto;
    }

    nav {
        background-color: #8170cc;
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    nav a {
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;
    }

    header,
    .grid,
    footer {
        max-width: 840px;
        margin: 0 auto;
    }

    .grid {
        display: grid;
        align-items: center;
    }

    main {
        grid-column: 2/3;
        margin: 1rem;
    }

    aside {
        width: 20rem;
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .temple {
        padding: var(--padding);
        display: flex;
        flex-flow: row;

    }

    figure {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        padding: 5px;
        max-width: 220px;
        margin: auto;
        /* border: 2px solid #9c8fe5; */
    }

    .temple img {
        width: auto;
        height: 92px;
        border-radius: 50%;
    }

    figcaption {
        font: smaller sans-serif;
        padding: 5px;
        text-align: center;
    }

    video {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
}