:root {
    --primary-color: #8170cc;
    --secondary-color: #9c8fe5;
    --bg-color: #cbc7f8;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #e6e6fa;
    margin: auto;
    padding: 0;
}

main {
    min-height: 800px;
}

header {
    display: flex;
    background-color: var(--secondary-color);
}

header nav {
    width: 100%;
    height: auto;
    padding: 0 .25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav a {
    font-family: "Verdana", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: 0 .5rem;
}

.active {
    text-decoration: underline;
    text-underline-offset: .2rem;
    font-weight: bold;
}

header video {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: .5rem .5rem .5rem 1rem;
}

/* ----- main styling ----- */
h1 {
    color: darkslateblue;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    border-bottom: var(--primary-color) 2px solid;
    margin: 5rem 0 0 0;
}

.grid {
    padding: 1rem;
}

article.opening {
    max-width: 800px;
    margin: 1rem auto;
    column-count: 2;
    column-gap: 1rem;
    font-family: 'Georgia', serif;
    font-size: .8rem;
    line-height: 1.6;
    text-align: justify;
}

article.opening img {
    float: left;
    width: 120px;
    height: auto;
    margin: 0 1rem 1rem 0;
    border-radius: 5px;
    border: 2px double var(--primary-color);
    box-shadow: hsl(248, 39%, 39%, 0.6) 4px 3px;

}

/* big initial letter */
article.opening p::first-letter {
    float: left;
    font-size: 2rem;
    line-height: 1;
    margin: 0 0.4rem 0 0;
    font-weight: bold;
    color: #000000;
}

h2 {
    color: darkslateblue;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    border-bottom: var(--primary-color) 2px solid;
    margin: 5rem 0 0 0;
}

.temple {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-items: center;
    align-items: center;
    gap: .25rem;
    background-color: var(--bg-color);
    border-radius: 5px;
}

.temple img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 2px double var(--primary-color);
    box-shadow: hsl(248, 39%, 39%, 0.6) 4px 3px;
}

.temple figcaption {
    text-align: center;

}

figcaption a {
    text-decoration: none;
    font-family: "Verdana", sans-serif;
    font-size: 1rem;
    color: black;
}

figcaption a::before {
    content: "🔎 ";
}

.city {
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 5px;
}

.city p {
    font-family: "Georgia", sans-serif;
    font-size: .8rem;
    color: black;
    padding-bottom: 1rem;
}

.city img {
    width: 200px;
    height: auto;
    margin: .5rem 0 0 0;
    border-radius: 5px;
    border: 2px double darkslateblue;
}

footer {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1rem;
    margin-top: 5rem;
    border-top: 2px solid #9c8fe5;
    text-align: center;
}

.pink {
    display: none;
}