:root {
  --heading-background-color: #0038a8;
  --heading-text-color-color: #ffffff;
  --padding: 1rem;
  --border: 1.5px solid #120a8f;
}

main {
  border-spacing: 5rem;
}

html {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  background: azure;
}

/* Default Header */
header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 600px 1fr 2fr;
}

header img {
  width: 120px;
  height: auto;
  position: relative;
  left: 10px;
}

header nav {
  font-family: 'barlow', sans-serif;
  font-size: 16px;
  width: 100%;
  height: auto;
  text-align: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav a {
  border-radius: 100px;
}

.icon1 {
  width: 100px;
  height: auto;
  border: 2px solid #120a8f;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.icon2 {
  width: 100px;
  height: auto;
  border: 2px solid #120a8f;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.icon3 {
  width: 100px;
  height: auto;
  border: 2px solid #120a8f;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.icon4 {
  width: 100px;
  height: auto;
  border: 2px solid #120a8f;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

/* Default header end */

/*Default Footer */
footer {
  padding: var(--padding);
  height: 100px;
  border-top: 5px solid #120a8f;
}

footer p {
  font-family: 'parkinsans', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: medium;
}

footer a {
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  font-size: medium;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 80px;
}

.fbicon {
  padding: 20px;
  width: 80px;
  height: 80px;
  text-decoration: none;
}

.twittericon {
  padding: 20px;
  width: 80px;
  height: 80px;
  text-align: center;
  text-decoration: none;
}

.instaicon {
  padding: 20px;
  width: 80px;
  height: 80px;
  text-align: center;
  text-decoration: none;
}

/* Default footer end */

/*Index/Homepage Main */
.hero {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'parkinsans', sans-serif;
  color: white;
  text-shadow: #120a8f 8px 8px;
  position: absolute;
  font-size: 8rem;
  width: 100%;
  text-align: center;
  top: 10px;
}

.container {
  position: absolute;
  width: 28%;
  height: 22%;
  opacity: .8;
  top: 460px;
  right: 40px;
  border-radius: 20px;
}

.container {
  font-family: 'montserrat', sans-serif
}

h2 {
  color: #120a8f;
  font-family: 'barlow', sans-serif;
  text-align: center;
}

.callbutton {
  position: absolute;
  background-color: azure;
  color: #120a8f;
  padding: 10px;
  border: var(--border);
  text-align: center;
  width: 10%;
  border-radius: 20px;
  opacity: .9;
  top: 580px;
  left: 250px;
}

.callbutton a {
  text-decoration: none;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
}

form {
  border: var(--border);
  padding: var(--padding);
  background-color: azure;
}

.opening-remark p {
  color: #fff;
  text-shadow: #120a8f 2px 2px;
  position: absolute;
  font-family: 'parkinsans', sans-serif;
  font-weight: 400;
  font-size: x-large;
  top: 480px;
  left: 50px;
}

.album-gallery {
  display: grid;
  grid-template-columns: 214px 284px 260px 214px 204px;
}

.album-gallery img {
  height: 140px;
  width: auto;
  border: none;
  padding-top: 10px;
}

.album-gallery figcaption {
  width: 100%;
  text-align: center;
}

h3 {
  color: black;
  font-family: 'barlow', sans-serif;
  font-weight: 800;
  padding-top: 1rem;
  text-align: left;
}

main section {
  height: 220px;
}

section p {
  color: #120a8f;
  font-family: 'barlow', sans-serif;
}

section a {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border: 1px solid #120a8f;
  padding: 10px;
  border-radius: 100px;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
}

/*Homepage/Index Main end */

/* About Main Start */
.motto {
  position: absolute;
  display: flex;
  top: 500px;
  right: 100px;
  background: #446ccf;
  border: 1px solid #120a8f;
  padding: 0.65rem;
  opacity: 0.8;
  border-radius: 20px;
  width: 1000px;
}

.motto img {
  width: auto;
  height: 200px;
  padding: 5px;
  border-radius: 20px;
}

.motto p {
  align-self: center;
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
  font-size: medium;
  color: #ffffff;
  padding: 5%;
}

.about2 {
  border: 1px solid #120a8f;
  border-radius: 20px;
}

.about2 img {
  position: relative;
  left: 38%;
  padding-bottom: 10px;
  width: 280px;
  height: auto;
}

.about2 p {
  text-align: center;
  font-size: medium;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'montserrat', sans-serif;
}

.about3 {
  border: 1px solid #120a8f;
  border-radius: 20px;
  padding-bottom: 30px;
}

.about3-images {
  display: flex;
  flex-flow: row;

}

.about3-images figure {
  border: thin #446ccf solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

img {
  width: auto;
  height: 150px;
}

figcaption {
  background-color: #446ccf;
  color: #ffffff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

/* About Main Ends */

/*Contacts Main Starts */
.contact {
  font-family: 'parkinsans', sans-serif;
  position: absolute;
  width: 250px;
  height: auto;
  border: var(--border);
  top: 260px;
  left: 20px;
  background-color: #fff;
  opacity: .9;
}

p {
  padding-left: 1rem;
}

.email {
  font-family: 'parkinsans', sans-serif;
  position: absolute;
  width: 250px;
  height: auto;
  border: var(--border);
  top: 420px;
  left: 20px;
  background-color: #fff;
  opacity: .9;
}

.details {
  position: absolute;
  border: var(--border);
  background-color: #ffffff;
  width: 660px;
  height: 300px;
  right: 40px;
  top: 1400px;
  padding: 5px;
}

.details p {
  font-family: 'barlow', sans-serif;
  font-size: medium;
}

h3 {
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-size: large;
  color: #fff;
  padding-left: 50px;
}

h4 {
  font-family: 'barlow', sans-serif;
  height: 1px;
  margin-top: 12px;
  margin-left: 10px;
}

.map {
  position: relative;
  border: var(--border);
  padding: var(--padding);
  border-spacing: 2rem;
}

iframe {
  height: 400px;
  width: 400px;
}

.peak {
  width: 750px;
  height: 410px;
  position: absolute;
  top: 600px;
  right: 10px;
  background: #446ccf;
  border-radius: 5%;
}

.peak img {
  display: flex;
  flex-flow: row;
  height: 320px;
  width: auto;
  border-radius: 10%;
}

.pacuare-river {
  position: absolute;
  top: 80px;
  right: 20px;
}

.pacuare-river2 {
  position: absolute;
  top: 80px;
  right: 250px;
}

.employee {
  padding: var(--padding);
  display: flex;
  flex-flow: row;

}

figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
  border: 2px solid #120a8f;
}

img {
  width: auto;
  height: 160px;
}

figcaption {
  background-color: #446ccf;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

form {
  border: var(--border);
  padding: var(--padding);
  background-color: azure;
  font-family: 'barlow', sans-serif;
}

/* Contacts Main Ends */

/*Trips Main starts */
.trips2ndheader {
  position: absolute;
  padding: 100px;
  top: 350px;
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
  font-size: x-large;
}

.trips2ndheader p {
  color: #000000;
  background-color: azure;
  padding: 50px;
  border: 2px solid #120a8f;
  border-radius: 25px;
  opacity: .8;
}

.joinbutton {
  background-color: azure;
  color: #000000;
  padding: 10px;
  border: var(--border);
  text-align: center;
  width: 20%;
  border-radius: 20px;
  margin-left: 460px;
}

.joinbutton a {
  text-decoration: none;
  font-family: 'montserrat', sans-serif;
  font-weight: 800;
  font-size: x-large;
}

.trip-details {
  display: flex;

}

.trip-details img {
  height: 180px;
  width: auto;
  padding-top: 10px;
  padding-left: 10px;
}

.trip-details p {
  font-family: 'montserrat', sans-serif;
  text-align: center;
}

table {
  position: relative;
  left: 180px;
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  background-color: #fff;
}

caption {
  font-family: 'barlow', sans-serif;
  font-weight: 600;
  font-size: large;
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 10px 100px;
  font-family: 'montserrat', sans-serif;
}

th {
  font-size: medium;
}